* {
  font-family:'Courier New', Courier, monospace;
 }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.App > div {
  background-color: #2A2A39;
  margin: 20px;
  color: white;
  opacity: 80%;
}
.App {
  height: 80vmin;
  width: 100vmin;
  background-color: #38354C;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.graph {
  background-color: #22222C;
  min-height: 75%;
  margin: 20px;
}
.Sidebar {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1/5;
  justify-content: center;
 
}
.Sidebar > div {
  margin-left: 20px;
  width: fit-content;
}

h4 {
  margin: 5px;
  width: fit-content;
}
.visitors {
  grid-column: 2/5;
}
.analysis {
  display: flex;
  flex-direction: column;
  
}

:root {
  margin: 0;
}
ul{
  align-self: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 10px 0 10px 0;
  font-weight: 700;
}
